<link href="/stylesheets/meteor.css" media="screen" rel="Stylesheet" type="text/css" /> 
<script src="/javascripts/prototype.js" type="text/javascript"></script> 

<!-- BEGIN meteor/meteor/_render --> 

<!-- BEGIN meteor/default/_hideable_panebox --> 



<table id="meteor_entry_1" 
       width="100%" 
       class="meteor_borderbox"> 
  
  
  <tr> 
    <td> 
      <table width="100%" 
	     class="meteor_borderbox"> 
	
	
	
	<tr id="meteor_entry_1_titlebar"> 
	  <td class="meteor_panebox"> 
	    <table> 
	      <tr> 
		<td class="meteor_enclosure_box" 
		    width="100%"> 
    		  <table width="100%" 
			 style="margin:0; padding:0;"> 
		    <tr> 
		      <td align="left" 
			  valign="center"> 
			<div id="meteor_entry_1_hide"> 
			  <img src="/images/meteor/collapse.jpg" 
			       onclick="Element.hide('meteor_entry_1_contents');Element.show('meteor_entry_1_show');Element.hide('meteor_entry_1_hide');" 
			       style="margin:0;padding:0;"> 
			</div> 
			<div id="meteor_entry_1_show" 
			     style="display:none;"> 
			  <img style="margin:0;padding:0;" 
			       src="/images/meteor/expand.jpg"  
			       onclick="Element.show('meteor_entry_1_contents');Element.hide('meteor_entry_1_show');Element.show('meteor_entry_1_hide');"> 
			</div> 
		      </td> 
		      <td align="left"> 
			Menus:
		      </td> 
		      
                      <td> 
			<img src="/images/meteor/plus.jpeg"
			     onclick="Effect.SlideDown('meteor_entry_1_addform');"> 
                      </td> 
                      <td> 
			<img src="/images/meteor/minus.jpeg" 
			     onclick="Element.hide('meteor_entry_1_addform');"> 
                      </td> 
		      
 		      <img id="meteor_entry_1_indicator" 
			   src="/images/meteor/indicator.gif" 
			   style="display:none;"> 
		    </tr> 
		  </table> 
		</td> 
	      </tr> 
	    </table> 
	  </td> 
	</tr> 
	<tr> 
	  <td class="meteor_error" 
	      id="meteor_entry_1_errors" 
	      style="display:none;"> 
	  </td> 
	</tr> 
	<tr> 
	  <td> 
	    <table id="meteor_entry_1_contents" width="100%"> 
	      <!-- about to call block from _hideable_panebox --> 
	      <!-- BEGIN meteor/meteor/_rows --> 
	      
	      
	      <!-- BEGIN meteor/meteor/_rows_without_children --> 
	      
	      
	      <thead "id"="meteor_entry_1_thead"> 
		<tr> 
		  <td></td> 
		  <td> 
		    <!-- BEGIN meteor/meteor/_addform --> 
		    
		    
		    <form id="meteor_entry_1_addform_form"> 
		      <table id="meteor_entry_1_addform"
			     style="display:none;"
			     class="meteor_borderbox"> 
			<tr> 
			  <td colspan="2"> 
			    <div id="meteor_entry_1_errors"
				 class="meteor_error"
				 style="display: none;"> 
			    </div> 
			  </td> 
			</tr> 
			
			<tr> 
			  <td colspan="2"> 
			    <em>Add a Menu:</em> 
			  </td> 
			</tr>	 
			
			<tr> 
			  <!-- BEGIN meteor/meteor/_header --> 
			<tr id="meteor_entry_1_header"> 
			  <th class="meteor_table_actions_call"> 
			    Actions
			  </th> 
			  
			  <!-- BEGIN meteor/meteor/_column_header --> 
			  <th> 
			    Name
			  </th> 
			  
			  <!-- END meteor/meteor/_column_header --> 
			  
			</tr> 
			
			<!-- END meteor/meteor/_header -->    </tr> 
			<tr> 
			  <!-- BEGIN meteor/meteor/_actions --> 
			  
			  <td> 
			    <img id="meteor_entry_1_addform_indicator" 
				 style="display: none;"
				 src="/images/meteor/indicator.gif"/> 
			    
			    <!-- BEGIN meteor/meteor/_action_add --> 
			    
			    
			    
			    
			    <a href="#"
			       id="meteor_entry_1_addform_add"
			       onclick="Element.show('meteor_entry_1_addform_indicator');new Ajax.Request('/xtest/meteor/1?actionname=add&name=entry&parent_klass=User&klass=Entry&visible_div_id=meteor_entry_1_addform&indicator=meteor_entry_1_addform_indicator&form_id=meteor_entry_1_addform_form&tbody=meteor_entry_1_tbody&error_div=meteor_entry_1_errors&path=.entry&htmlprefix=meteor_entry_1&addform_table=meteor_entry_1_addform&widget_class=Meteor&contents=meteor_entry_1_contents', {asynchronous:true, evalScripts:true, onSuccess:function(request){Element.hide('meteor_entry_1_addform_indicator');Form.enable('meteor_entry_1_addform_form');}, parameters:Form.serialize('meteor_entry_1_addform_form')});Form.disable('meteor_entry_1_addform_form');return false;"> 
			      
			      Add
			    </a> 
			    
			    
			    <!-- END meteor/meteor/_action_add -->&nbsp;
			    
			    <!-- BEGIN meteor/meteor/_action_cancel --> 
			    <a href="javascript:{}" 
			       onclick="Element.hide('meteor_entry_1_addform');"> 
			      
			      Cancel
			    </a> 
			    
			    <!-- END meteor/meteor/_action_cancel -->&nbsp;
			    
			  </td> 
			  
			  <!-- END meteor/meteor/_actions --> 
			  <td> 
			    <!-- BEGIN meteor/meteor/_scalar_column --> 
			    
			    
			    
			    
			    
			    
			    
			    <input id="meteor_entry_1_addform_name" name="entry[name]" type="text" value="" /> 
			    
			    
			    <!-- END meteor/meteor/_scalar_column -->        </td> 
			  
			</tr> 
		      </table> 
		    </form> 
		    
		    
		    <!-- END meteor/meteor/_addform --> 
		  </td> 
		</tr>										 
		<tr> 
		  <td></td> 
		  <td colspan="2"> 
		    <div id="meteor_entry_1_errors" style="display: none;"> 
		    </div> 
		  </td> 
		</tr>										 
		
		<tbody id="meteor_entry_1_tbody"> 
		  
		  <tr><td colspan="4"> 
		      
		      <table width="100%"
   			     class="meteor_borderbox"
			     id="meteor_entry_1_table"> 
			
			
			<!-- BEGIN meteor/meteor/_header --> 
			<tr id="meteor_entry_1_header"> 
			  <th class="meteor_table_actions_call"> 
			    Actions
			  </th> 
			  
			  <!-- BEGIN meteor/meteor/_column_header --> 
			  <th> 
			    Name
			  </th> 
			  
			  <!-- END meteor/meteor/_column_header --> 
			  
			</tr> 
			
			<!-- END meteor/meteor/_header --> 
			
			
			
			
			<tbody id="meteor_entry_1_1_contents"> 
			  <!-- BEGIN meteor/meteor/_row_data --> 
			  
			  
			  <tr id="meteor_entry_1_1_read"> 
			    <!-- BEGIN meteor/meteor/_row_data_readrow --> 
			    
			    <!-- BEGIN meteor/meteor/_actions --> 
			    
			    <td> 
			      <img id="meteor_entry_1_1_read_indicator" 
				   style="display: none;"
				   src="/images/meteor/indicator.gif"/> 
			      
			      <!-- BEGIN meteor/meteor/_action_edit --> 
			      
			      
			      <a href="javascript:{}" 
				 onclick="Element.hide('meteor_entry_1_1_read');Element.show('meteor_entry_1_1_write');"> 
				Edit
			      </a> 
			      
			      <!-- END meteor/meteor/_action_edit -->&nbsp;
			      
			    </td> 
			    
			    <!-- END meteor/meteor/_actions --> 
			    
			    <td id="meteor_entry_1_1_read_name"
				onclick="Element.hide('meteor_entry_1_1_read');Element.show('meteor_entry_1_1_write');$('meteor_entry_1_1_write_name').focus()"> 
			      <!-- BEGIN meteor/meteor/_scalar_column --> 
			      
			      
			      
			      
			      
			      
			      
			      <span title="click to edit">test</span> 
			      
			      
			      <!-- END meteor/meteor/_scalar_column --> 
			    </td> 
			    
			    
			    <!-- END meteor/meteor/_row_data_readrow --> 
			  </tr> 
			  <tr id="meteor_entry_1_1_write"
			      style="display:none;"> 
			    <!-- BEGIN meteor/meteor/_row_data_writerow --> 
			    
			    <!-- BEGIN meteor/meteor/_actions --> 
			    
			    <td> 
			      <img id="meteor_entry_1_1_write_indicator" 
				   style="display: none;"
				   src="/images/meteor/indicator.gif"/> 
			      
			      <!-- BEGIN meteor/meteor/_action_submit --> 
			      
			      
			      <a href="#"
				 id="meteor_entry_1_1_write_submit"
				 onclick="Element.show('meteor_entry_1_1_write_indicator');new Ajax.Request('/xtest/meteor?actionname=submit&name=entry&parent_klass=User&klass=Entry&visible_div_id=&indicator=meteor_entry_1_1_write_indicator&form_id=meteor_entry_1_1_write&tbody=meteor_entry_1_tbody&error_div=meteor_entry_1_errors&path=.entry&htmlprefix=meteor_entry_1&readrow=meteor_entry_1_1_read&writerow=meteor_entry_1_1_write&id=1&contents=meteor_entry_1_1_contents&rowname=meteor_entry_1_1&addform_table=meteor_entry_1_addform&widget_class=Meteor', {asynchronous:true, evalScripts:true, onSuccess:function(request){Element.hide('meteor_entry_1_1_write_indicator');Form.enable('meteor_entry_1_1_write');}, parameters:Form.serialize('meteor_entry_1_1_write')});Form.disable('meteor_entry_1_1_write');return false;"> 
				
				Submit
			      </a> 
			      
			      
			      <!-- END meteor/meteor/_action_submit -->&nbsp;
			      
			      <!-- BEGIN meteor/meteor/_action_cancel --> 
			      <a href="javascript:{}" 
				 onclick="Element.hide('meteor_entry_1_1_write');Element.show('meteor_entry_1_1_read');"> 
				
				Cancel
			      </a> 
			      
			      <!-- END meteor/meteor/_action_cancel -->&nbsp;
			      
			    </td> 
			    
			    <!-- END meteor/meteor/_actions --> 
			    
			    <td id="meteor_entry_1_1_write_name_td"> 
			      <!-- BEGIN meteor/meteor/_scalar_column --> 
			      
			      
			      
			      
			      
			      
			      
			      
			      <input id="meteor_entry_1_1_write_name" name="entry[name]" type="text" value="test" /> 
			      <script type="text/javascript"> 
				$('meteor_entry_1_1_write_name').observe('keydown', respondToReturn('meteor_entry_1_1_write_submit'));
			      </script> 
			      
			      
			      <!-- END meteor/meteor/_scalar_column --> 
			    </td> 
			    
			    
			    <!-- END meteor/meteor/_row_data_writerow --> 
			  <tr> 
			    <!-- BEGIN meteor/meteor/_meteor_children --> 
			    
			    
			    <!-- END meteor/meteor/_meteor_children --> 
			    
			    <!-- END meteor/meteor/_row_data --> 
			</tbody> 
			
			
			
			
		      </table> 
		  </td></tr> 
		</tbody> 
		
		<!-- END meteor/meteor/_rows_without_children --> 
		
		<!-- END meteor/meteor/_rows --> 
	    </table> 
	  </td> 
	</tr> 
	
	
      </table> 
    </td> 
  </tr> 
  
</table> 

<!-- END meteor/default/_hideable_panebox --> 

<!-- END meteor/meteor/_render --> 


